html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	}
	
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	}	

@font-face {
    font-family: 'Junicode';
    src: url('fonts/Junicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-bold';
    src: url('fonts/Junicode-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Junicode-italic';
    src: url('fonts/Junicode-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
	
html, body {
	/*padding: 20px 0 40px 0;*/
	/*font-family: ff-tisa-web-pro-1, ff-tisa-web-pro-2, Georgia, sans-serif;*/
	font-family: Junicode, Times, serif;
	color: #4e443c;
	/*font-size: 70%;*/
	font-size: 21pt;
	background: url(../images/bg-darker.png) fixed;
	}

body{
	min-height: 600px;
}

footer{
	display: none;
	background: url(../images/bg-dark2.jpg) fixed;
}

#main_header{
	padding: 1px;
	#padding-top: 10px;
	height: 39px;	
	margin-bottom: 17px;
	border-top: 11px solid #3c322c;

	/*
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.8);
	-o-box-shadow:0 5px 10px rgba(0,0,0,0.8);
	-khtml-box-shadow:0 5px 10px rgba(0,0,0,0.8);
	-ms-box-shadow:0 5px 10px rgba(0,0,0,0.8);
	box-shadow:0 5px 10px rgba(0,0,0,0.8);
	*/
}

#home_title{
	cursor: pointer;
	margin-top: 1px;
	margin-left: 19px;
	color: #3c322c;
	/*color: #f5ead4;*/
	font-weight: bold;
	width: 180px;
}

/*
#main_text_frame{
	position: absolute;
	top: 50px;
	left: 400px;
	width: 40%;
	height: 400px;
}
#text_elem{
	width: 60%;
	height: 500px;
}*/

#global_wrapper {
	#border: 3px solid yellow;
	min-width: 1024px;
	min-height: 560px;
	height:100%;
	width: 100%;
	position:absolute;
}

#central_wrapper{
	margin: 0 auto 0 auto;
	height:87.5%; /*86*/
	width: 91%;
	/*border: 3px solid black;*/

	-moz-box-shadow:0 10px 5px -6px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 10px 5px -6px rgba(0,0,0,0.8);
	-o-box-shadow:0 10px 5px -6px rgba(0,0,0,0.8);
	-khtml-box-shadow:0 10px 5px -6px rgba(0,0,0,0.8);
	-ms-box-shadow:0 10px 5px -6px rgba(0,0,0,0.8);
	box-shadow:0 10px 5px -6px rgba(0,0,0,0.8);
	position: relative;
}


#main_right_frame{
	#border: 2px solid #786e64;
	border: 2px solid #3c322c;
	position: relative;
	
	height:100%;

	/*Chiara*/
	z-index:2;
	overflow: hidden;
}

#main_right_frame header{
	width: 100%;
	position: absolute;
	#top: -1px;
	height: 51px;
	margin-left: auto;
	margin-right: auto;
	#z-index: 120;
	#overflow: hidden;
	text-align: right;
	#display: none;
	color: #f5ead4;
	font-size: 18px;
	/*float: left;*/
	
	/*	
	-moz-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 9px 100px rgba(0,0,0,0.4);
	-o-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-khtml-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-ms-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	box-shadow:0 9px 10px rgba(0,0,0,0.4);
	*/

	background: #3c322c;

	/*Chiara*/
	z-index: 999;
	-moz-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	-o-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	-khtml-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	-ms-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	box-shadow:0 0px 4px rgba(0,0,0,0.8);

	min-height: 44px;
	position: relative;
}

#main_left_frame{
	/*border: 2px solid #786e64;
	border: 2px solid #3c322c;*/
	border:2px solid rgb(60, 50, 44);
	position: relative;
	width: 49.8%;
	height:100%;
	background: black;
	overflow: hidden;

	/*Chiara*/
	float:left;
}

#main_left_frame header{
	/*width: 94.4%;*/
	width: 100%;
	position: absolute;
	/*top: -50px;*/
	height: 51px;
	margin-left: auto;
	margin-right: auto;
	#z-index: 10;
	#overflow: hidden;
	text-align: right;
	#display: none;
	color: #f5ead4;
	font-size: 18px;

	/*
	-moz-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 9px 100px rgba(0,0,0,0.4);
	-o-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-khtml-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-ms-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	box-shadow:0 9px 10px rgba(0,0,0,0.4);
	*/

	background: #3c322c;

	/*Chiara*/
	z-index: 999;
	-moz-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	-o-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	-khtml-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	-ms-box-shadow:0 0px 4px rgba(0,0,0,0.8);
	box-shadow:0 0px 4px rgba(0,0,0,0.8);

	/*per select
	overflow: visible;*/
}

#main_left_frame-single{
	border: 2px solid #786e64;
	position: relative;
	width: 99.8%;
	height:100%;
}

#main_left_frame-single header{
	/*width: 94.4%;*/
	width: 100%;
	position: absolute;
	top: -1px;
	height: 91px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	overflow: hidden;
	text-align: right;
	display: none;
	color: #f5ead4;
		
	-moz-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 9px 100px rgba(0,0,0,0.4);
	-o-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-khtml-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-ms-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	box-shadow:0 9px 10px rgba(0,0,0,0.4);
}

#central_page_number{
	border: 2px solid #786e64;
	background: white;
	margin: -26px auto 0 auto;
	width: 80px;
	height: 30px;
	text-align: center;
	
	/*-moz-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 9px 100px rgba(0,0,0,0.4);
	-o-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-khtml-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-ms-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	box-shadow:0 9px 10px rgba(0,0,0,0.4);*/
}

#central_page_number span{
	position: relative;
	top: 3px;
}

#main_left_menu{
	border: 2px solid #786e64;
	float: left;
	margin-left: -30px;
	margin-top: -2px;
	width: 26px;
	height: 89px;
	text-align: center;
	cursor: pointer;
	
	-moz-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 9px 100px rgba(0,0,0,0.4);
	-o-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-khtml-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-ms-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	box-shadow:0 9px 10px rgba(0,0,0,0.4);

	display: none;
}
#main_left_menu:hover{
	background: url(../images/bg-dark2.jpg) fixed;
}

#main_left_menu:hover #main_left_menu-openlink{
	color: white;
}
#main_left_menu:hover #main_left_menu-closelink{
	color: white;
}

#main_left_menu-openlink, #main_left_menu-closelink{
	text-decoration: none ;
	color: #4e443c;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	top: 24px;
	margin: 2px;	
}
#main_left_menu-closelink{
	display: none;
	padding-left: 3.6px;
	padding-right: 3.6px;
}
#main_left_menu-openlink{
	/*display: none;*/
}


/*  */

#main_right_menu{
	border: 2px solid #786e64;
	float: right;
	margin-right: -30px;
	margin-top: -2px;
	width: 26px;
	height: 89px;
	text-align: center;
	cursor: pointer;
	
	-moz-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 9px 100px rgba(0,0,0,0.4);
	-o-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-khtml-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-ms-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	box-shadow:0 9px 10px rgba(0,0,0,0.4);

	display: none;
}
#main_right_menu:hover{
	background: url(../images/bg-dark2.jpg) fixed;
}

#main_right_menu:hover #main_right_menu-openlink{
	color: white;
}
#main_right_menu:hover #main_right_menu-closelink{
	color: white;
}

#main_right_menu-openlink, #main_right_menu-closelink{
	text-decoration: none ;
	color: #4e443c;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	top: 24px;
	margin: 2px;	
}
#main_right_menu-closelink{
	display: none;
	padding-left: 3.6px;
	padding-right: 3.6px;
}
#main_right_menu-openlink{
	/*display: none;*/
}



#text_cont, #text_cont-add, #image_cont{
	height: 100%;
	text-align: center;
}	
/*Chiara  */
#text_cont, #text_cont-add{
	background: white;
	position: relative;
	/*-moz-box-shadow:-2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow:-2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	-o-box-shadow:-2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	-khtml-box-shadow:-2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	-ms-box-shadow:-2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	box-shadow:-2px 3px 5px -2px rgba(0, 0, 0, 0.8);*/
	margin-top: 51px;
	bottom:51px;
	height: 92.8%;
    min-height: 436.1px;
    overflow: auto;
}
#text_cont-add{
	bottom: 0px;
}

#text_frame, #text_elem-add > div {
	margin-top:auto !important;
	#overflow-y: scroll;
}

#image_cont{
	/*top: 16px;*/
	position: relative;
	/*height: 95%;
	min-height: 480px;*/
	height: 100%;
	
	/*-moz-box-shadow:2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow:2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	-o-box-shadow:2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	-khtml-box-shadow:2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	-ms-box-shadow:2px 3px 5px -2px rgba(0, 0, 0, 0.8);
	box-shadow:2px 3px 5px -2px rgba(0, 0, 0, 0.8);*/
	min-height: 455.7px;
	width: 100%;
}


#image_cont{
	background: #000;
}

#text_elem, #text_elem-add{
	width: 99.4%;
	min-height: 456px;
	overflow-y: auto;
	position: relative;
	top: 51px;
}
/*Chiara
#text_cont{
	overflow-y:hidden;
}
*/

/*Chiara*/
#text{
	margin: auto;
	width: 90%;

	/*Chiara*/
	height: 100%;
	overflow-y: hidden;
	width: 94%;
	#margin-top: -20px;
	padding: 10px 10px 30px 20px;
}

#mag_image_elem{
    height:100%;
    overflow: auto;
}

#image_elem {  
	height:100%;
	/*margin-top: -15.6px;
	background:#f95000;*/
	position: relative;
}

#image_elem img {
	left: 0px;
	top: 100px;
}

#image_tool{ 
	height: 40px;
	width: 100%;
	z-index: 10;
	
	/* Chiara */
	position:absolute;
	bottom:-0.4px;
	border: none;
	padding:3px 0px;
	width:100%;
	-moz-box-shadow:0px -2px 3px -2px rgba(0, 0, 0, 1);
	-webkit-box-shadow:0px -2px 3px -2px rgba(0, 0, 0, 1);
	-o-box-shadow:0px -2px 3px -2px rgba(0, 0, 0, 1);
	-khtml-box-shadow:0px -2px 3px -2px rgba(0, 0, 0, 1);
	-ms-box-shadow:0px -2px 3px -2px rgba(0, 0, 0, 1);
	box-shadow:0px -2px 3px -2px rgba(0, 0, 0, 1);
	background: rgb(60, 50, 44);

}
#image_tool p{
	display: inline;
}
#spb{
	#border: 2px solid #786e64;
}
#spb a{
	#color: #786e64;
	color: white;

}
.zoom_btn{
	text-decoration: none;
	#font-size: 18px;
	#font-weight: bold;
	/*border: 3px solid #786e64;
	background: black;
	border-top: 2px solid #786e64;
	border-bottom: 2px solid #786e64;
	border-right: 2px solid #786e64;*/	
}
#zoom_orig:hover, #zoom_fit:hover{
	color: white;
	#background: #786e64;
}
#spb_cont{
	/*border-right: 2px solid #786e64;
	border-top: 2px solid #786e64;
	border-left: 2px solid #786e64;*/
	/*border-left: 2px solid #786e64;*/
	#border: 2px solid #786e64;
	#position: absolute;
	/*right: -26px;*/
	#left: 10px;
	#top: 168px;
	width: 226px;
	height: 40px;
	background: white;
	/*
	-moz-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 9px 100px rgba(0,0,0,0.4);
	-o-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-khtml-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	-ms-box-shadow:0 9px 10px rgba(0,0,0,0.4);
	box-shadow:0 9px 10px rgba(0,0,0,0.4);
	*/

	/* Chiara */
	position: absolute;
	bottom:2px;
	background: none;
	left: 115px;
}

#zoom_in{
	#float: right;
    background: url(../images/iviewer.zoom_in.gif) top center no-repeat;
    height:28px;
	width: 28px;
	position: absolute;
	z-index: 9999999;
	min-width: 28px;
	min-height: 28px;
	position: absolute;
	top: 10px;
	left: 351px;
}

#zoom_out{
	#float: left;
	position: absolute;
	top: -40px;
    background: url(../images/iviewer.zoom_out.gif) top center no-repeat;
    height:28px;
	width: 28px;
	position: absolute;
	z-index: 9999999;
	min-width: 28px;
	min-height: 28px;
	top: 10px;
	left: 78px;
}

#zoom_orig{
	background: url(../images/iviewer.zoom_full.gif) top center no-repeat;
	/*padding: 3px;
	left: -6.5px;
	top: -50px;
	position: absolute;*/
	height:28px;
	width: 28px;
	position: absolute;
	z-index: 9999999;
	min-width: 28px;
	min-height: 28px;
	top: 10px;
	left: 5px;

}
#zoom_fit{
	background: url(../images/iviewer.zoom_fit.gif) top center no-repeat;
	/*padding: 3px;
	left: -3.5px;
	top: 121px;
	position: absolute;*/
	height:28px;
	width: 28px;
	position: absolute;
	z-index: 9999999;
	min-width: 28px;
	min-height: 28px;
	top: 10px;
	left: 40px;
}

#zoom_fit, #zoom_orig, #zoom_out, #zoom_in{
	-moz-box-shadow:0px 2px 6px -2px #000;
	-webkit-box-shadow:0px 2px 6px -2px #000;
	-o-box-shadow:0px 2px 6px -2px #000;
	-khtml-box-shadow:0px 2px 6px -2px #000;
	-ms-box-shadow:0px 2px 6px -2px #000;
	box-shadow: 0px 2px 6px -2px #000;
}

#zoom_fit:hover, #zoom_orig:hover, #zoom_out:hover, #zoom_in:hover{
	-moz-box-shadow:inset 0px 2px 6px -2px #000;
	-webkit-box-shadow:inset 0px 2px 6px -2px #000;
	-o-box-shadow:inset 0px 2px 6px -2px #000;
	-khtml-box-shadow:inset 0px 2px 6px -2px #000;
	-ms-box-shadow:inset 0px 2px 6px -2px #000;
	box-shadow: inset 0px 2px 6px -2px #000;
}

#img_tools{
	white-space: pre-line;
    float: right;
    #margin-top: 185px;
    #margin-right: -47px;
    #width:47px;
    #display: none;
}

#switchZoom{
    border: 2px solid #786E64;
    border-top-right-radius: 4px;
  	border-bottom-right-radius: 4px;
    -moz-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-o-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-khtml-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-ms-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 3px;
    width: 31px;
    height: 31px;
    top: -3px;
    right: -40px;
    background-color: transparent;
    color: #786E64;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: central;
}

#switchMag{
    border: 2px solid #786E64;
    border-top-right-radius: 4px;
  	border-bottom-right-radius: 4px;
    -moz-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-o-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-khtml-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-ms-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
    margin: 0;
    margin-top: -5px;
    padding: 3px;
    width: 31px;
    height: 31px;
    top: -3px;
    background-color: transparent;
    color: #786E64;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: central;
}

#switchITL{
  	border: 2px solid #786e64;
  	border-top-right-radius: 4px;
  	border-bottom-right-radius: 4px;
  	-moz-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-o-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-khtml-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
	-ms-box-shadow:0 9px 10px rgba(0, 0, 0, 0.4);
  	box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
	width: 31px;
	height:31px;
	padding: 3px;
	margin-top: -5px;
    color: #786E64;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: central;
}

#slider { 	
	/*margin: 10px; width: 400px;*/
	margin: 3px 0 5px 0;
	margin-left: 8px;
	/*height: 200px;*/
	
	/*Chiara*/
	position: relative;
	margin:0.4em 0.2em;
}

#slider a{
	-moz-box-shadow:0px 1px 3px -1px rgba(0,0,0,0.6);
	-webkit-box-shadow:0px 1px 3px -1px rgba(0,0,0,0.6);
	-o-box-shadow:0px 1px 3px -1px rgba(0,0,0,0.6);
	-khtml-box-shadow:0px 1px 3px -1px rgba(0,0,0,0.6);
	-ms-box-shadow:0px 1px 3px -1px rgba(0,0,0,0.6);
	box-shadow:0px 1px 3px -1px rgba(0,0,0,0.6);
}

#slider a:focus{
	outline: none;
}

#central_button{
	height: 30px;
	#margin-top: -4px;
	display: none;
}
#edval{
	font-size: 17px;
	text-align: center;
	background: white;
	border: 2px solid #786e64;
	width: 89px;
	height: 24px;
	margin: 0 auto;
	position: relative;
	left: -87px;
	top: 2px;
	text-align: center;
}
#edval>span{
	position: relative;
	margin: 0 auto;
	top: 1px;
}
#zval{
	background: white;
	font-size: 16px;
	text-align: center;
	border: 2px solid #786e64;
	width: 89px;
	height: 24px;
	margin: 0 auto;
	position: relative;
	right: -86px;
	top: -34px;
}
#zval>span{
	position: relative;
	top: 3px;
}

.scroll-ios{
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}

.like_select{
	position: relative;
	height: 35px;
    left: 3px;
	right: 3px;
	top: 2px;
	padding: 3px 6px;
}

#right_header .like_select{
	float: right;
}
#left_header .like_select{
	float: left;
}

/*Chiara*/
.like_select > div{
	font-size: 20px;
	background:#f5ead4;
	color: #000;
	text-align: left;
	padding: 5px;
	height: 24px;
	overflow: visible;
	min-width: 80px;
}

.label_selected{
	margin-right: 48px;
}

.like_select .option_container{
	position: relative;
	overflow-y:auto;
	display: none;
	padding: 3px 5px 0px 5px;
	background:#f5ead4;
	width: 100%;
	left: -5px;
	top: 5px;
	max-height: 170px;
	z-index: 400;
	-moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.7);
	-o-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.7);
	-khtml-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.7);
	-ms-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.7);
	box-shadow:0px 2px 5px rgba(0, 0, 0, 0.7);
}

.like_select .option{
	color: rgb(0, 0, 0);
	position: relative;
	padding: 5px;
	width: 100%;
	left: -5px;
	border-bottom: solid 1px rgba(60, 50, 44, 0.5);
	cursor: pointer;
}
.like_select .option:hover{
	background: rgb(60, 50, 44);
	color:#fff;
}

.option.selected{
	color:#CCC;
	cursor: default;
}

.option.selected:hover{
	background: #F5EAD4;
	color: #ccc;
}

.like_select .open_select{
	padding: 5px;
	width: 24px;
	text-align: center;
	position: absolute;
	right: 6px;
	top: 3px;
	height: 24px;
	border-left: 1px solid #d9d7d7;
	cursor: pointer;
	background: url(../images/down_arrow_select.jpg) no-repeat right #f5ead4;
	opacity: 0.5;
}

.like_select .open_select:hover{
	opacity: 1;
}
	
/*.main_ee_select{
	margin:6px;
	padding: 0px;
	border:none;
}*/
/*#thumb_cont{
	display: none;
	position: relative;
	top: 100px;
	margin: 0 auto;
	width: 416px;
	height: 100px;
}*/

#thumb_cont{
display: none;
position: relative;
top: 100px;
margin: 0 auto;
width: 436px;
height: 73%;
overflow: scroll;
overflow-x: hidden;
}

#thumb_cont figure{
    float: left;
	padding: 3px;
	cursor: pointer;
}

#thumb_cont figure:hover figcaption{
	background: url(../images/opacity.png) repeat-x 0 -200px;
	color: black;
}

#thumb_cont figure figcaption{
    color: white;
	position: relative;
	top: -40px;
	background: url(../images/opacity.png) repeat-x 0 -50px;
}


#thumb_elem{
	/*position: absolute;
	top: 4px;
	right: 240px;	
	border: 2px solid #f5ead4;
	width: 86px;
	height: 39.9px;
	padding-left: 6px;
	padding-right: 6px;
	text-indent: 0;*/

	/*Chiara*/
	position: relative;
	border: 2px solid rgb(245, 234, 212);
	width: 86px;
	height: 35px;
	text-indent: 0px;
	float: left;
	top: 2px;
	padding: 3px 6px;
	margin: 0px 9px;
}

#thumb_link{
	text-decoration: none ;
	color: #f5ead4;
	text-indent: 0;
	line-height: 40px;
	padding-right: 5px;
}
#thumb_link:hover{
	color: white;
}

#radio_edition, #radio_edition-add{
	position: absolute;
	right: 225px;
	top: 4px;
	min-width: 214px;
	height: 31px;
	/*padding-right: 12px;
	padding-top: 7px;*/
	border: 2px solid #f5ead4;

/*Chiara*/
	position: relative;
	top: 2px;
	left: auto;
	float: right;
	right: 9px;
	padding: 9px;
	height: 23px;
	text-align: center;
}

#radio_edition-add{
	float: left;
}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 26px;
   border: 1px solid #ccc;
   height: 34px;
}

#mode_switch{
	top: 19px;
	/*Chiara*/ top:12px;
	right: 90px;
	/*Chiara 60px*/
	position: absolute;
	/* Chiara font-size: 14pt;*/
}
#mode_switch a{
	/*Chiara padding: 0 2px;*/
	text-decoration: none ;
	color: #4e443c;
	font-weight: bold;
}
#mode_switch a.current_mode{
	/*color: #f5ead4;*/
	color: white;
}
#mode_switch a.current_mode:hover{
	color: white;
}
#mode_switch a:hover{
	color: #f5ead4;
}

#main_fullscreen{
	width: 34px;
	height: 34px;
	background: url(../images/full_screen.png) no-repeat;
}
#main_fullscreen:hover{
	width: 34px;
	height: 34px;
	background: url(../images/full_screen-hover.png) no-repeat;
}
#cont_fullscreen{
	top: 15px;
	right: 0px;
	position: absolute;
}

/*
#main_right_arrow{
	background: url(../images/arr_right.png) no-repeat;
	float: right;
	margin-right: -26px;
	margin-top: -2.2px;
	width: 26px;
	height: 89px;
	cursor: pointer;
}*/

#main_right_arrow{
	background:url(../images/arrows.png) no-repeat 0 0;
	background-position:0 -118px;
    
    cursor:pointer;
 	display:inline-block;
	height:59px;
	outline:0;ù
	text-indent:-9999px;
    width:31px;
    z-index:9999;
    /* old
    float: right;
    margin-right: -39px;
	margin-top: 225px;
    #position:absolute;
    */
 	
    /* CDP */
    top: 50%;
	position: absolute;
	float: right;
	right: -4%;
	margin-top: -29.5px;
}

#main_right_arrow:hover{
    background-position:0 -177px;

}
/*
#main_left_arrow{
	background: url(../images/arr_left.png) no-repeat;
	float: left;
	margin-left: -26px;
	margin-top: -3px;
	width: 26px;
	height: 89px;
	cursor: pointer;
}*/

#main_left_arrow{
	background:url(../images/arrows.png) no-repeat 0 0;
    
    float: left;
	/*margin-left: -39px;
	margin-top: 225px;
	*/
    cursor:pointer;
    display:inline-block;
    height:59px;
    outline:0;
    #position:absolute;
    
    text-indent:-9999px;
    width:31px;
    z-index:9999;

    /*CDP*/
    top:50%;
    position: absolute;
	left: -4%;
	margin-top: -29.5px;
}

#main_left_arrow:hover{
    background-position:0 -59px;
}

/*Chiara*/
#txtimg_link {
	background: url("../images/imgText.png") top center no-repeat;
	min-height: 50px;
	font-size: 1.4em;
	padding:0px;
}

#txttxt_link {
	background: url("../images/textText.png") top center no-repeat;
	min-height: 50px;
	font-size: 1.4em;
	padding:0px;
}

#txtimg_link:hover, #txtimg_link.current_mode  {
	background: url("../images/imgText-hover.png") top center no-repeat;
	min-height: 50px;
	font-size: 1.4em;
	padding:0px;
}

#txttxt_link:hover, #txttxt_link.current_mode{
	background: url("../images/textText-hover.png") top center no-repeat;
	min-height: 50px;
	font-size: 1.4em;
	padding:0px;
}

#txttxt_link, #txtimg_link, #txttxt_link.current_mode, #txtimg_link.current_mode {
	color:transparent !important;
}

/* Top Menu Wave */
div.concave {
    background: transparent;
	width: 300px;
	position: absolute;
	right: 0px;
	top: 11px;
}

div.extTop{
	background: #3c322c;
	width: 300px;
	height: 25px;
	position: relative;
}
div.topleftconcave {
	position: absolute;
	background: url(../images/bg-darker.png) fixed;
	width: 25px;
	height: 25px;
	border-top-right-radius: 300px 300px;
	-moz-box-shadow: 4px -2px 5px -3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 4px -2px 5px -3px rgba(0,0,0,0.6);
	-o-box-shadow: 4px -2px 5px -3px rgba(0,0,0,0.6);
	-khtml-box-shadow: 4px -2px 5px -3px rgba(0,0,0,0.6);
	-ms-box-shadow: 4px -2px 5px -3px rgba(0,0,0,0.6);
	box-shadow: 4px -2px 5px -3px rgba(0,0,0,0.6);
	overflow-y: hidden;
}
div.botleftconcave {
	position: absolute;
	background: #3c322c;
	width: 275px;
	height: 25px;
	top: 21px;
	left: 25px;
	border-bottom-left-radius: 60px 60px;
	-moz-box-shadow: inset 4px -3px 5px -3px rgba(0,0,0,0.4), inset 0px -4px 5px -3px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 4px -3px 5px -3px rgba(0,0,0,0.4), inset 0px -4px 5px -3px rgba(0,0,0,0.4);
	-o-box-shadow: inset 4px -3px 5px -3px rgba(0,0,0,0.4), inset 0px -4px 5px -3px rgba(0,0,0,0.4);
	-khtml-box-shadow: inset 4px -3px 5px -3px rgba(0,0,0,0.4), inset 0px -4px 5px -3px rgba(0,0,0,0.4);
	-ms-box-shadow: inset 4px -3px 5px -3px rgba(0,0,0,0.4), inset 0px -4px 5px -3px rgba(0,0,0,0.4);
	box-shadow: inset 4px -3px 5px -3px rgba(0,0,0,0.4), inset 0px -4px 5px -3px rgba(0,0,0,0.4);
}

#mode_switch{
	top:5px;
	right: 62px;
}

#cont_fullscreen{
	top: 13px;
	right: 0px;
}

#span_dd_select{
	display: none;
}

#main_left_frame.full{
	position: absolute;
	z-index: 99999999;
	min-width: 1021px;
}
